
<div class="hero_area">

  <!-- slider section -->
  <section class=" slider_section position-relative">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="img-box">
                  <img src="images/medicine.png" alt="">
                </div>
              </div>
              <div class="col-md-8">
                <div class="detail-box">
                  <h1>
                    Welcome to HealthCart <br>
                    <span>
                      Your Trusted Partner in Wellness!
                    </span>

                  </h1>
                  <p>
                    HealthCart – Everything You Need for a Healthier Life, Delivered with Care and Trust.
                  </p>
                  <div>
                    <a href="">
                      Buy Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="img-box">
                  <img src="images/medicine.png" alt="">
                </div>
              </div>
              <div class="col-md-8">
                <div class="detail-box">
                  <h1>
                    Welcome to HealthCart <br>
                    <span>
                      Your Trusted Partner in Wellness!
                    </span>

                  </h1>
                  <p>
                    HealthCart – Where Healthy Living Begins with Quality, Convenience, and Care.
                  </p>
                  <div>
                    <a href="">
                      Buy Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="img-box">
                  <img src="images/medicine.png" alt="">
                </div>
              </div>
              <div class="col-md-8">
                <div class="detail-box">
                  <h1>
                    Welcome to HealthCart <br>
                    <span>
                      Your Trusted Partner in Wellness!
                    </span>

                  </h1>
                  <p>
                    HealthCart – One Cart, Endless Wellness. Pure, Fast, Reliable.
                  </p>
                  <div>
                    <a href="">
                      Buy Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="sr-only">Next</span>
      </a>
    </div>


  </section>
  <!-- end slider section -->
</div>